@model IEnumerable<mvc.Services.PersonViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<p>
    <button type="button" class="btn btn-light">@Html.ActionLink("Create New Person", "Create")</button>
</p>
<table class="table table-bordered table-responsive table-hover">
 
        <tr>
            <th>FullName </th>
            <th>Age </th>
            <th>Gender </th> 
            <th>Actions </th> 
        </tr>
        @foreach (var d in Model)
        {
            <tr>
                <td>@d.FullName</td>
            <td>@d.Age</td>
            <td>@d.Gender</td>
            <td>
                <button type="button" class="btn btn-secondary">@Html.ActionLink("Update", "Update", new { id = @d.Id })</button>
                <button type="button" class="btn btn-warning">@Html.ActionLink("Delete", "Delete", new { id = @d.Id })</button>
            </td> 
        </tr>
        }
    </table>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



