@model IEnumerable<mvc.Models.PersonModifierModel>
@{
    ViewData["Title"] = "Update person";
}
<div class="container">
    <div class="row">
        <form>
            <div class="form-group">
                <label>First Name</label>
                <div class="col-lg-10">
                    <input class="form-control text-box single-line" id="FirstName" name="FirstName" type="text"
                        value="default">
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
                <label>Last Name</label>
                <div class="col-lg-10">
                    <input class="form-control text-box single-line" id="LastName" name="LastName" type="text"
                        value="default">
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
                <label>Gender</label>
                <div class="col-lg-10">
                    <input class="form-control text-box single-line" id="Gender" name="Gender" type="text"
                        value="default">
                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                </div>
                <label>Date Of Birth</label>
                <div class="col-lg-10">
                    @Html.EditorFor(model => model.DeliveryDate, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <label>Phone Number</label>
                <div class="col-lg-10">
                    <input class="form-control text-box single-line" id="PhoneNumber" name="PhoneNumber" type="text"
                        value="default">
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>
                <label>Is Graduated</label>
                <div class="col-lg-10">
                    <input class="form-control form-check-input" id="IsGraduated" name="IsGraduated" value="default">
                </div>
            </div>

        </form>
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
